h1 {
  margin: 2.5rem 0;
  font-size: 3rem;
  color: #fff;
}

.exchange {
  color: #9771fe;
}

.converterWrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #9771fe;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  h1 {
    margin: 3.5rem 0;
    font-size: 4rem;
  }
  .converterWrapper {
    width: 500px;
  }
}