.amountInput {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: .5rem;
  outline: none;
  box-sizing: border-box;  
  border: none;
  border-bottom: 3px solid;
  transition: border-color .5s ease-in-out;
}

label {
  font-size: 1.2rem;
}