:root {
  --bg-light: #e3e3e3;
  --white: #fff;
  --dark: #282828;
  --violet: #9771fe;
  --blue: #3051f1;
  --purple: #c92bb7;
  --red: #f73344;
  --orange: #fa8e37;
  --yellow-light: #fcdf8f;
  --yellow: #fbd377;
}

body {
  background-color: var(--dark);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
}

.active {
  display: block;
}

.inActive {
  display: none;
}

.flex {
  display: flex;
}

.pageHeader {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  width: 100%;
  justify-content: space-between;
}

.pageLogo>span {
  color: var(--violet);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin-left: 5px;
}

.navbarToggler {
  width: 50px;
  height: 50px;
  background-color: var(--dark);
  border: none;
  outline: none;
}

.navbarToggler>div {
  height: 6px;
  background-color: var(--bg-light);
  margin: .5rem 0;
  border-radius: 10px;
}

.navbarLinks {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.navbarLinks>li {
  text-align: center;
  border-bottom: 2px solid var(--white);
  padding: 10px 20px;
}

.navbarLinks>li>a {
  position: relative;
  text-decoration: none;
  color: var(--violet);
}

.navbarLinks>li>a::after {
  content: '';
  background-color: var(--violet);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: transform .25s ease-in-out;
}

.navbarLinks>li:last-child {
  border-bottom: none;
}

h1 {
  margin: 2.5rem 0;
  font-size: 3rem;
  color: var(--white);
}

.exchange {
  color: var(--violet);
}

.converterWrapper {
  width: 90%;
  margin: 0 auto;
  background-color: var(--white);
  border: 2px solid var(--violet);
  border-radius: 10px;
  padding: 20px;
}

.converterHeader>header {
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: var(--white);
  font-size: 1rem;
  text-align: center;
}

h3 {
  margin: 20px 0;
}

.amountInput {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: .5rem;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid;
  transition: border-color .5s ease-in-out;
}

label {
  font-size: 1.2rem;
}

.currencySelection {
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

.selectContainer {
  width: 100%;
  position: relative;
}

.selectContainer>select {
  appearance: none;
}

.selectIcon {
  position: absolute;
  right: 0;
  top: 28px;
  background-color: #5d45a0;
  height: calc(100% - 28px);
}

.selectIcon>img {
  width: 24px;
}

select#fromCurrency,
select#toCurrency,
button#convertBtn {
  padding: 10px;
  width: 100%;
  background-color: var(--violet);
  outline: none;
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--white);
}

button#convertBtn {
  margin-top: 20px;  
  transition: background-color .2s linear;
}

button#convertBtn>span {
  position: relative;
}

button#convertBtn img {
  position: absolute;
  bottom: -1.5px;
  opacity: 0;
  transition: all .2s linear;
} 

p#result {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  text-align: center;
}

.socialMedia {
  justify-content: space-evenly;
  margin: 0 0 20px 0;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.socialMedia>a {
  width: 25%;
  padding: 30px 0;
  justify-content: center;
}

footer {
  color: var(--violet);
  text-align: right;
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .pageLogo>img {
    width: 2.5rem;
  }
  .pageLogo>span {
    font-size: 2.5rem;
  }
  h1 {
    margin: 3.5rem 0;
    font-size: 4rem;
  }
  .converterWrapper {
    width: 500px;
  }
  .currencySelection {
    flex-direction: row;
  }
  .selectIcon>img {
    width: 30px;
  }
  h2,h3 {
    font-size: 1.5rem;
  }
  p#result {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding: 40px;
  }
  .pageHeader {
    flex-direction: row;
  }
  .pageLogo>img {
    width: 3rem;
  }
  .pageLogo>span {
    font-size: 3rem;
  }
  .navbarToggler {
    display: none;
  }
  .navbarLinks {
    display: flex;
    justify-content: flex-end;
  }
  .navbarLinks>li {
    border-bottom: none;
  }
  .navbarLinks>li:first-child {
    padding-left: 0;
  }
  .navbarLinks>li:last-child {
    padding-right: 0;
  }
  .navbarLinks>li>a:hover::after {
    transform: scale(1);
  }
  h2,h3 {
    font-size: 2rem;
  }
  .selectContainer>select, button#convertBtn {
    cursor: pointer;
  }
  button#convertBtn:hover {
    background-color: #5d45a0;
  }
  button#convertBtn:hover img {
    opacity: 1;
    transform: translateX(10px);
  }
  .facebookLink:hover {
    background-color: #17a9fd;
  }
  .instagramLink:hover {
    background: radial-gradient(circle farthest-corner at 5% 120%,
      var(--yellow) 10%,
      var(--orange) 30%,
      var(--red) 45%,
      transparent 65%), linear-gradient(45deg, var(--blue) 5%, var(--violet) 30%, var(--violet) 50%);
  }
  .linkedinLink:hover {
    background-color: #0a66c2;
  }
  .githubLink:hover {
    background-color: #000;
  }
}