body {
  background-color: #282828;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
}

.active {
  display: block;
}

.inActive {
  display: none;
}

.flex {
  display: flex;
}

.pageHeader {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  width: 100%;
  justify-content: space-between;
}

.pageLogo>span {
  color: #9771fe;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin-left: 5px;
}

.navbarToggler {
  width: 50px;
  height: 50px;
  background-color: #282828;
  border: none;
  outline: none;
}

.navbarToggler>div {
  height: 6px;
  background-color: #e3e3e3;
  margin: .5rem 0;
  border-radius: 10px;
}

.navbarLinks {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.navbarLinks>li {
  text-align: center;
  border-bottom: 2px solid #fff;
  padding: 10px 20px;
}

.navbarLinks>li>a {
  position: relative;
  text-decoration: none;
  color: #9771fe;
}

.navbarLinks>li>a::after {
  content: '';
  background-color: #9771fe;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: transform .25s ease-in-out;
}

.navbarLinks>li:last-child {
  border-bottom: none;
}

h1 {
  margin: 2.5rem 0;
  font-size: 3rem;
  color: #fff;
}

.exchange {
  color: #9771fe;
}

.converterWrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #9771fe;
  border-radius: 10px;
  padding: 20px;
}

.converterHeader>header {
  margin-top: 20px;
  text-align: center;
}

h3 {
  margin: 20px 0;
}

.amountInput {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: .5rem;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid;
  transition: border-color .5s ease-in-out;
}

label {
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .pageLogo>img {
    width: 2.5rem;
  }
  .pageLogo>span {
    font-size: 2.5rem;
  }
  h1 {
    margin: 3.5rem 0;
    font-size: 4rem;
  }
  .converterWrapper {
    width: 500px;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding: 40px;
  }
  .pageHeader {
    flex-direction: row;
  }
  .pageLogo>img {
    width: 3rem;
  }
  .pageLogo>span {
    font-size: 3rem;
  }
  .navbarToggler {
    display: none;
  }
  .navbarLinks {
    display: flex;
    justify-content: flex-end;
  }
  .navbarLinks>li {
    border-bottom: none;
  }
  .navbarLinks>li:first-child {
    padding-left: 0;
  }
  .navbarLinks>li:last-child {
    padding-right: 0;
  }
  .navbarLinks>li>a:hover::after {
    transform: scale(1);
  }
  h3 {
    font-size: 2rem;
  }
}