.converterHeader > header {
  margin-top: 20px;
  text-align: center;
}

h3 {
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}